<html ng-app>
  <head>
    <meta charset="utf-8">
    <title>Controladoeres</title>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script>
    <script src="index.js"></script>
  </head>
  <body>
    {{"hola"+" mundo" }}
  </body>
</html>